@model List<Sistema_de_Errores.Models.Defectos>
@{
    ViewBag.Title = "Errores";
}

<h2>Errores</h2>

<a href="/Home/Nuevo" class="btn btn-primary btn-lg btn-block">Nuevo</a>
<br>
<div class="table-responsive">
    <table class="table">
        <tr class="thead-light">
            <th>Sucursal</th>
            <th>Supervisor</th>
            <th>Categoria</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>

        @foreach (var defecto in Model)
        {
            <tr>
                <th>@defecto.sucursal</th>
                <th>@defecto.supervisor</th>
                <th>@defecto.categoria</th>
                <th>@defecto.fecha</th>
                <th>@defecto.hora</th>
            </tr>
        }

    </table>
</div>


