@model List<Sistema_de_Errores.Models.GData>
@{
    ViewBag.Title = "Graficas";
}

<!-- Grafica -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

        // Load the Visualization API and the controls package.
        google.charts.load('current', { 'packages': ['corechart', 'controls', 'line'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawDashboard);

        // Callback that creates and populates a data table,
        // instantiates a dashboard, a range slider and a pie chart,
        // passes in the data and draws it.
    function drawDashboard() {

        // Create our data table.


        //var model = '@Html.Raw(Json.Encode(Model))';
        //var data = JSON.parse(model);
        //var dataG = [[],[]];

        //for (var i = 0; i < data.length; i++) {
        //    var toG = data[i];
        //    dataG[i][0] = new Date(parseInt(toG.fecha.replace(/\/Date\((.*?)\)\//gi, "$1"))).toString();
        //    dataG[i][1] = toG.total.toString();
        //}
        //window.alert(typeof (data[0].total) + " " +typeof (dataG[0,1].total));

        //----------------------------------------------------------------------------

        var dataG = [];

        //dataG.push(['Cantidad','Fecha']);

        var button = document.getElementById('change-chart');
        var chartDiv = document.getElementById('chart_div');

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Month');
        data.addColumn('number', "Average Temperature");

        @foreach(var errG in Model)
        {
            @:var date = '@errG.fecha';
            @:date = date.substr(0, 10);
            @:var corrMonth = parseInt(date.substr(3, 2)-1);
            @:data.addRows([[new Date(date.substr(-4), corrMonth,date.substr(0, 2)), parseInt(@errG.total)]]);
        }

        var materialOptions = {
        chart: {
            title: 'Average Temperatures and Daylight in Iceland Throughout the Year'
        },
        width: 900,
        height: 500,
        series: {
            // Gives each series an axis name that matches the Y-axis below.
            0: {axis: 'Temps'},

        },
        axes: {
            // Adds labels to each axis; they don't have to match the axis names.
            y: {
            Temps: {label: 'Temps (Celsius)'},

            }
        }
        };

        function drawMaterialChart() {
            var materialChart = new google.charts.Line(chartDiv);
            materialChart.draw(data, materialOptions);
        }

        drawMaterialChart();
    }
</script>
<!-- Grafica -->
<div>

    <h2>Graficas</h2>
    <div id="chart_div"></div>
</div>>




<div class="table-responsive">
    <table class="table">
        <tr class="thead-light">
            <th>Fecha</th>
            <th>Cantidad</th>
        </tr>

        @foreach (var defecto in Model)
        {
            <tr>
                <th>@defecto.fecha</th>
                <th>@defecto.total</th>
            </tr>
        }

    </table>
</div>