@model Sistema_de_Errores.Models.ViewModels.DefectosViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo</h2>

<form method="post" action="~/Home/Nuevo">
    <div class="mb-3">

        <label>@Html.LabelFor(a => a.sucursal)</label>
        @Html.TextBoxFor(a => a.sucursal, new { @class = "form-control" })
        <br />
        <label>@Html.LabelFor(a => a.supervisor)</label>
        @Html.TextBoxFor(a => a.supervisor, new { @class = "form-control" })
        <br />
        <label>@Html.LabelFor(a => a.categoria)</label>
        @Html.TextBoxFor(a => a.categoria, new { @class = "form-control" })

    </div>
    <hr class="mb-4">
    <button type="submit" value="Guardar" class="btn btn-primary btn-lg btn-block">Agregar</button>
</form>
